@import url('https://fonts.googleapis.com/css?family=Antic+Didone|Fjord+One');

* {
  margin: 0;
  padding: 0;
  // font-family: 'Fjord One', serif;
  font-family: 'Antic Didone', serif;

}

.arrow {
  position: fixed;
  top: 2px;
  left: 1%;
  width: 37px;
  filter: invert(50%);
  transition: filter 200ms;
  &:hover {
    filter: invert(20%);
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  &_item {
    margin: 1%;
    color: rgb(83, 83, 83);
    text-decoration: none;
    border-left: solid 1px rgb(81, 135, 147);
    padding: 1%;
    transition: all 400ms;
    &:hover {
      opacity: 0.5;
      color: white;
      border-left: none;
      margin-right: 2%;
      margin-top: 1%;
      font-size: 1.1em;
    }
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(300deg, rgb(155, 170, 169), white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(85, 85, 85);
  &_left {
    width: 30%;
  }
  &_divider {
    border: solid 1px grey;
    height: 100px;
  }
  &_right {
    width: 30%;
    text-align: center;
    font-size: 1.3em;
  }
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer {
  height: 150px;
  background: linear-gradient(5deg, rgb(187, 211, 217), white);
  color: white;
}
